<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Este arquivo é parte do programa Quack Jamef
 *
 * Quack Jamef é um software livre; você pode redistribuí-lo e/ou
 * modificá-lo dentro dos termos da Licença Pública Geral GNU como
 * publicada pela Fundação do Software Livre (FSF); na versão 3 da
 * Licença, ou (na sua opinião) qualquer versão.
 *
 * Este programa é distribuído na esperança de que possa ser útil,
 * mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO
 * a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a
 * Licença Pública Geral GNU para maiores detalhes.
 *
 * Você deve ter recebido uma cópia da Licença Pública Geral GNU junto
 * com este programa, Se não, veja <http://www.gnu.org/licenses/>.
 *
 * @category   Quack
 * @package    Quack_Jamef
 * @author     Rafael Patro <rafaelpatro@gmail.com>
 * @copyright  Copyright (c) 2017 Rafael Patro (rafaelpatro@gmail.com)
 * @license    http://www.gnu.org/licenses/gpl.txt
 * @link       https://github.com/rafaelpatro/Quack_Jamef
 */
-->
<config>
    <modules>
        <Quack_Jamef>
            <version>1.0.0</version>
        </Quack_Jamef>
    </modules>
    <global>
        <blocks>
            <quack_jamef>
                <class>Quack_Jamef_Block</class>
            </quack_jamef>
        </blocks>
        <models>
            <quack_jamef>
                <class>Quack_Jamef_Model</class>
            </quack_jamef>
        </models>
        <helpers>
            <quack_jamef>
                <class>Quack_Jamef_Helper</class>
            </quack_jamef>
        </helpers>
        <sales>
        	<shipping>
        		<carriers>
        			<quack_jamef>
        				<class>Quack_Jamef_Model_Carrier_Shipping</class>
        			</quack_jamef>
        		</carriers>
        	</shipping>
            <quote>
                <item>
                    <product_attributes>
                        <volume_altura/>
                        <volume_comprimento/>
                        <volume_largura/>
                        <postmethods/>
                        <fit_size/>
                        <posting_days/>
                    </product_attributes>
                </item>
            </quote>
        </sales>
        <cache>
        	<types>
        		<quack_jamef translate="label,description" module="quack_jamef">
                    <label>Cotação de Frete Jamef Transportes</label>
                    <description>Banco de Cotações do módulo Quack Jamef.</description>
                    <tags>QUACKJAMEF</tags>
        		</quack_jamef>
        	</types>
        </cache>
    </global>
	<frontend>
	    <translate>
	        <modules>
	            <quack_jamef>
	                <files>
	                    <default>Quack_Jamef.csv</default>
	                </files>
	            </quack_jamef>
	        </modules>
	    </translate>
	</frontend>
    <default>
    	<carriers>
    		<quack_jamef>
    			<active>1</active>
    			<model>Quack_Jamef_Model_Carrier_Shipping</model>
    			<title>Jamef Transportes</title>
    			<url>http://www.jamef.com.br/webservice/JAMW0520.apw?WSDL</url>
    			<url_tracking>http://www.jamef.com.br/webservice/JAMW1066.apw?WSDL</url_tracking>
    			<handling_action>P</handling_action>
    			<shipment_requesttype>0</shipment_requesttype>
    			<allowed_methods>1,2</allowed_methods>
    			<free_shipping_enable>0</free_shipping_enable>
    			<posting_days_increment>1</posting_days_increment>
    			<posting_time>15:00</posting_time>
    			<timeout>8</timeout>
    		</quack_jamef>
    	</carriers>
    </default>
</config>